<div ng-controller="ContactController">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-tower" style="font-size:20px"></span><span style="font-size:20px; margin-left:10px;">Me contacter</span></h1>
    </div>
    <div id='messages' class='well' ng-show='message'>{{message}}</div>
    <form method='POST' name='myContactForm' ng-submit='processForm(myContactForm.$valid)' novalidate>
        <div id='name-group' class='form-group' ng-class="{ 'has-error' : errorName }">
            <label>{{ enterName }}</label>
            <input type='text' name='yourName' class='form-control' ng-model='formData.yourName' ng-minlength='2' ng-maxlength='20' required>
            <div class="help-block" ng-messages="myContactForm.yourName.$error" role="alert">
                <p ng-messages-include="errors.html"></p>
            </div> 
            <span class='help-block' ng-show='errorName'>{{errorName}}</span>  
        </div>
        <div id='email-group' class='form-group' ng-class="{ 'has-error' : errorEmail }">
            <label>{{ enterEmail }}</label>
            <input type='email' name='yourEmail' class='form-control' ng-model='formData.yourEmail' required>
            <!--<div role="alert">
                <span class='error' ng-show='myContactForm.yourEmail.$error.required'>Veuillez indiquer votre mail!</span>
                <span class='error' ng-show='myContactForm.yourEmail.$invalid && myContactForm.yourEmail.$dirty'>Email non valide!</span>
                
            </div>-->
            <div class="help-block" ng-messages="myContactForm.yourEmail.$error" role="alert">
                <p ng-messages-include="errors.html"></p>
            </div>
            <span class='help-block' ng-show='errorEmail'>{{errorEmail}}</span>
        </div>
        <div id='content-group' name='yourContent' class='form-group' ng-class="{ 'has-error' : errorContent }">
            <label>{{ enterContent }}</label>
            <textarea  rows='5' cols='50' class='form-control' ng-model='formData.yourContent' required></textarea>
            <div class="help-block" ng-messages="myContactForm.yourContent.$error" role="alert">
                <p ng-messages-include="errors.html"></p>
            </div>
            <span class='help-block' ng-show='errorContent'>{{errorContent}}</span>
        </div>
        <button type='submit' ng-disabled="myContactForm.$invalid" class='btn btn-success btn-lg btn-block'>
            <span class='glyphicon glyphicon-flash'></span> Submit!
        </button>
    </form>
</div>